.nav {
    list-style:none;
    margin:0px;
    padding:0px;
    width: 100%;
    overflow:hidden;
    background: #0B0B61;    
}
#navi>li{
    float:left;
}
#navi li a{
    display:block;
    color:white;
    padding: 14px 16px;
    text-align:center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover{
    background-color: black;
    cursor: pointer;  
}
#logout button{
    float:right;
}
#logoutbutton{
    display:block;
    border: none;
    display: inline-block;
}
